---
// Create placeholder 'dummy' items
const gridItems = Array.apply(null, Array(53)).map((week) => {
  return Array.apply(null, Array(7).fill(0));
});
---

<section>
  <h3>Commits to public GitHub repos</h3>
  <div class="flex flex-col items-center justify-center">
    <div id="contributions" class="flex gap-1">
      {
        gridItems.map((week, i) => {
          return (
            <div
              id={`week-${i}`}
              class={`flex-col gap-1 ${
                i < 33 ? (i < 7 ? "hidden xl:flex" : "hidden md:flex") : "flex"
              }`}
            >
              {week.map((day, j) => {
                return (
                  <div
                    id={`week-${i}-day-${j}`}
                    class="h-3 w-3 lg:h-4 lg:w-4 xl:h-5 xl:w-5"
                    style="background-color: rgba(235,	237,	240, 0.15);"
                  />
                );
              })}
            </div>
          );
        })
      }
    </div>
    <p class="my-1 hidden" id="contribution-error">
      Ooops, error fetching from GitHub.
    </p>
  </div>
</section>
<script>
  /**
   * Types for our data
   */
  type ContributionDay = {
    color: string;
    contributionCount: number;
    date: string;
    weekday: number;
  };
  type Week = {
    contributionDays: ContributionDay[];
    firstDay: string;
  };
  type Weeks = Week[];
  type GraphQLRes = {
    user: {
      contributionsCollection: {
        contributionCalendar: {
          weeks: Weeks;
        };
      };
    };
  };

  /**
   * Fetch against GitHub GraphQL API
   */
  async function getContributions(token: string, username: string) {
    const headers = {
      Authorization: `bearer ${token}`,
    };
    const body = {
      query: `query {
              user(login: "${username}") {
                name
                contributionsCollection {
                  contributionCalendar {
                    colors
                    totalContributions
                    weeks {
                      contributionDays {
                        color
                        contributionCount
                        date
                        weekday
                      }
                      firstDay
                    }
                  }
                }
              }
            }`,
    };
    const response = await fetch("https://api.github.com/graphql", {
      method: "POST",
      body: JSON.stringify(body),
      headers: headers,
    });
    const data = await response.json();
    return data;
  }

  /**
   * Run fetch from above
   */
  const { data } = await getContributions(
    import.meta.env.PUBLIC_GITHUB_TOKEN, // token in .env file
    "mattglbrt" // your GitHub account name
  );

  /**
   * If there's an error with the fetch or the user doesn't exist, show error text
   */
  if (!data || !data.user) {
    const oops = document.getElementById("contribution-error");
    oops?.classList.remove("hidden");
    throw "Error fetching from Github";
  }

  /**
   * Drill down to data from fetch request
   */
  const {
    user: {
      contributionsCollection: {
        contributionCalendar: { weeks },
      },
    },
  }: GraphQLRes = data;

  /**
   * Loop through the weeks + add them to the parent div
   */
  weeks.forEach(({ contributionDays }, i) => {
    // Loop through each week's days + add them to their week
    contributionDays.forEach(({ color, date, contributionCount }, j) => {
      const bgColor = color === "#ebedf0" ? "rgba(235,	237,	240, 0.15)" : color; // Make white squares a more pleasing gray
      // Get + update each day square
      const dayDiv = document.getElementById(`week-${i}-day-${j}`);
      dayDiv?.setAttribute("style", `background-color: ${bgColor}`);
      dayDiv?.setAttribute(
        "title",
        `${date} - ${contributionCount} public commits`
      );
    });
  });
</script>