---
import { settings } from '../data/settings';
const { title, description, src } = settings.hero;
import OptimizedImage from './OptimizedImage.astro';
---

{
  src ? (
    <section class='hero'>
      <div class='hero__inner'>
        <div class='hero__image'>
          <OptimizedImage
            src={src}
            alt={title}
            loading='eager'
            fetchpriority='high'
          />
        </div>
        <div class='hero__content'>
          {title && <h1 class='hero__title'>{title}</h1>}
          {description && description.length > 0 && (
            <p class='hero__desc'>
              {description.map((item, i) => (
                <>
                  <a
                    href={item.url}
                    class="hero__link"
                    {...(item.external ? { target: '_blank', rel: 'noopener noreferrer' } : {})}
                  >
                    {item.text}
                  </a>
                  {i < description.length - 1 && ', '}
                </>
              ))}
            </p>
          )}
        </div>
      </div>
    </section>
  ) : (
    <section class='hero-without-image'>
      <div class='hero-inner'>
        <div class='hero__content'>
          {title && <h1 class='hero__title'>{title}</h1>}
          {description && description.length > 0 && (
            <p class='hero__desc'>
              {description.map((item, i) => (
                <>
                  <a
                    href={item.url}
                    class="hero__link"
                    {...(item.external ? { target: '_blank', rel: 'noopener noreferrer' } : {})}
                  >
                    {item.text}
                  </a>
                  {i < description.length - 1 && ', '}
                </>
              ))}
            </p>
          )}
        </div>
      </div>
    </section>
  )
}
